// -------------------------------------------- mixins
@mixin apply-flex($direction:row, $main-align:flex-start, $cross-align:flex-start, $wrap:nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $main-align;
    align-items: $cross-align;
    flex-wrap: $wrap;
}

// ------------------------------------- global styling
html {
    height:100%;
    overflow-y: scroll;
}

a {
    font-size:0.85rem;
    text-decoration: none;
    color:rgb(42, 128, 213);
    &:hover {
        text-decoration: underline;
    }
}

.g-base {
    padding:0;
    margin:0;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
	background-color: #FFFFFF;
	color: #474747;
}

.g-tooltip {
    font-size: 0.75rem;
    padding: 5px;
    border-radius: 5px;
    width: 350px;
    white-space: normal;
    overflow-wrap: break-word;
}

.g-tooltip a {
    word-break: break-all;
    display: inline-block;
}


// -------------------------------------- page / section styling
#p-main {
    padding:30px;
    @include apply-flex(row, flex-start, flex-start, wrap);
    position: relative;
    z-index: 1;
    justify-content: center;
}

#p-main #s-content { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#p-main #s-content #map {
    width: 800px;
    height: 800px;
    border-radius: 5px;
}

#p-main #s-content #phone-services {
    width: 300px;
    padding-left: 20px;
    margin-left: 20px;

    h2 {
        margin-top: 0;
    }
}

#p-main #aside {
    width: 300px;
    padding-right: 20px;
}

#p-main #aside .title {
    font-size:1.75rem;
    margin-bottom:10px;
}

#p-main #aside .caption {
    margin-bottom:10px;
}

#p-main #aside img {
    float: left;
    padding-right:10px;
}

#newcomerServices {
    background-color: #CAC428;
}

#healthAndWellness {
    background-color: #2A81CB;
}

.categoryBox {
    width: 250px;
    padding: 15px;
    margin: 10px;
    color: black;
    font-size: 16px;
    text-align: center;
    border-radius: 13px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.categoryBox:hover {
    transform: scale(1.05);
}

.selectedBox {
    opacity: 0.7;
}